/__pycache__
/controllers/__pycache__
/database/__pycache__
/middlewares/__pycache__
/models/__pycache__
/venv
/.env
/seeds/__pycache__
/database.db
/pyhints/__pycache__
/repository/__pycache__
/services/__pycache__
/functions/__pycache__
/scripts/__pycache__
/.vscode/settings.json
/migrations/__pycache__
/migrations/lib/__pycache__
/migrations/lib/watchmen/__pycache__
/routes/__pycache__
/repositories/__pycache__
/config/__pycache__
